<%- include('../partials/header.ejs') %>
<div class="max-w-3xl my-5 mx-auto justify-center">
    <div class="text-center"><h1 class="text-3xl text-center mb-5">ADD POST</h1></div>
    <div class="flex justify-center flex-col add-posts">
        <form method="POST" action="/savePost" class="w-full">
            <div>
                <input type="text" name="title" placeholder="Title" class="border-2 p-3 w-full mb-3"/>
            </div>
            <div>
                <textarea name="descp"  placeholder="Description" class="border-2 p-3 w-full mb-3"></textarea>
            </div>
            <div>
                <input type="text" name="img" placeholder="Image URL" class="border-2 p-3 w-full mb-5"/>
            </div>
            <div class="text-center">
                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Save Post</button>
            </div>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>